*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous';
}

::-webkit-scrollbar{
    width: 0px;
}

body{
    padding-top: 80px;
}

.barra{
    background-color:rgb(55, 88, 180);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navegacion{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.lg{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin: 15px 0; 
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-menu-link:hover{
    background-color: rgb(57, 109, 110);
    transition: 1s;
}

.bt1{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.trasfondo{
    background-image: url(/img/trasfondo.png);
    width: 100%;
    max-width: 1366px;
    height: 500px;
}

.fondo{
    background-image: url(/img/fondo.webp);
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    height: 500px;
}

.title{
    font-size: 100px;
    color: white;
    text-align: center;
    line-height: 500px;
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
}
.title2{
    margin: 15px 0;
}
.his1{
    margin: 0 80px;
}
main{
    width: 100%;
}
.menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    max-width: 1366px;
}

.card{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    border-style: dotted;
    border-width: 6px;
    border-color: rgb(55, 88, 180);
    border-radius: 15%;
    padding: 20px;
}

.card img{
    width: 250px;
    border-radius: 10%;
}

.menu:nth-child(3){
    margin-bottom: 50px;
}

.pie_pagina{
    width: 100%;
    position: relative;

}

.box{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.final{
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background-color: rgba(55, 88, 180, 0.37);
}

.fig{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indice{
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding-top: 40px;
    display: block;
    font-size: 40px;
}

.contac{
    padding: 10px;
    color:white;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black ;
}

#enlace{
    color: #000;
    text-decoration: none;
    text-shadow: 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white ;
}

.title_final{
    margin-bottom: 25px;
}

#icon{
    color: #000;
    margin-left: 40px;
}

#numb{
    margin-top: 1rem;
    width: 3rem;
    border: 3px solid #000;
}

.historia p{
    font-size: 20px;
}

.bt_reser{
    border: 3px solid rgb(55, 88, 180);
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(55, 88, 180);
}

.reser{
    text-decoration: none;
    color: white;
}

.check{
    margin: 50px;
    width: 150px;
    height: 150px;
}

.deli{
    margin: 50px;
    width: 150px;
    height: 150px;
}

input{
    height: 2rem;
    
}

.checklist{
    height: 0.8rem;
}






@media (max-width:768px) { 
    body{
        padding-top: 60px;
    }
    
    .barra{
        height: 60px;
    }

    .lg{
        width: 30px;
        height: 30px;
        border-radius: 20%;
        margin: 13px 0;
        margin-left: 20px; 
    }

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(70, 85, 85);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        height: calc(100%-60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.5s;
        padding: 0;
    }

    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-link:hover{
        background: none;
        color: rgb(22, 180, 185);
    }

    .bt1{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }

    .bt1:focus:not(:focus-visible){
        outline: none;
    }

    .trasfondo{
        width: 100%;
        max-width: 768px;
        height: 300px;
    }
    
    .fondo{
        background-size: cover;
        width: 100%;
        max-width: 602px;
        height: 300px;
    }
    
    .title{
        font-size: 50px;
        text-align: center;
        line-height: 300px
    }
    
    .logo_final{
        width: 160px;
    }
    
    #indice{
        font-size: 30px;
    }
    
    .menu{
        display: grid;
        grid-template-columns: repeat(2,0.5fr);
        width: 1366px;
        max-width: 100%;
    }
    
    .card{
        width: 90%;
        border-radius: 15%;
        padding: 20px;
    }
    
    .card img{
        width: 190px;
    }
    
    #enlace{
        font-size: 15px;
    }
    
    #icon{
        margin-left: 20px;
    }

}






